/* html-body-container */

html {
    font-family: 'Slabo 27px', serif;
    letter-spacing: 1px;
}
body {
    background-position: cover;
}
.main-container {
    max-width: 550px;
    height: 100vh;
    border: 1px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 25% 75%;
    text-align: center;
    padding: 25px 5px;
    background-color: rgba(211, 211, 211, 0.6);
}
p {
    display: inline-block;
}

/* toggle */

.show {
    display: block;
    color: black;
}
.showDegree {
    display: inline-block;
}
.hide {
    display: none;
}

/* ids-classes */

#greeting {
    font-size: 2.5rem;
}
.dawn {
    background-image: url('./Images/sunrise.jpg');
}
.day {
    background-image: url('./Images/day.jpg');
}
.dusk {
    background-image: url('./Images/sunset.jpg');
}
.night {
    background-image: url('./Images/night.jpg');
}
#search-txt {
    padding: 5px;
    background-color: rgba(47, 79, 79, 0.4);
    color: white;
    border: none;
}
::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
#search-btn {
    font-size: 1.1rem;
    color: white;
    text-shadow: 1px 1px black;
    margin-right: 15px;
}
#erase-btn {
    font-size: 1.1rem;
    color: white;
    text-shadow: 1px 1px black;
}
#desc {
    font-size: 1.5rem;
}
#city {
    font-size: 2.8rem;
}
#degree {
    font-size: 2rem;
    margin-bottom: 75px;
}
#temp {
    font-size: 5rem;
}
.temperature-container {
    padding-top: 25px;
}

/* image-icon */

img {
  height: 60px;
  width: 60px;
}